.info {
    width: 550px;
    height: 600px;
    background: white;
    font-family: $primary-font;
    color: $primary-color;

    &--top {
        display: flex;
        height: 150px;
        border-bottom: solid 1px #E6E7E8;


        h4 {
            height: 20px;
            margin: 20px;
            margin-bottom: 0;
            font-size: 15px;
            font-weight: bold;
            display: flex;
            justify-content: flex-end;
            color: rgb(122, 121, 121);
        }

        h2 {
            height: 20px;
            display: flex;
            justify-content: flex-end;
            margin: 20px;
            margin-top: 5px;
            font-size: 20px;
        }
    }

    .top-left {
        width: 325px;

        h1 {
            font-size: 30px;
            font-weight: bold;
            margin-top: 20px;
            margin-left: 20px;
        }

        h2 {
            height: 20px;
            display: flex;
            justify-content: flex-start;
            margin-left: 20px;
            font-size: 20px;
        }
    }

    .top-right {
        display: flex;
        flex-direction: column;
        width: 325px;
    }

    .info-bottom {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .edit {
            display: flex;
            width: 650px;
            height: 60px;
            justify-content: flex-end;
            background: #4367AF;
            margin: -40px;

            button {
                width: 80px;
                height: 40px;
                margin: 10px;
                color: $primary-color;
                background: white;
                border: none;
                font-size: 20px;
                font-weight: 600;
            }
        }

        h2 {
            font-weight: bold;
            font-size: 20px;
            margin-top: 85px;
        }

        h3 {
            font-style: italic;
            margin-left: 10px;
            font-size: 20px;
        }


        h4 {
            height: 20px;
            margin-top: 7px;
            font-size: 15px;
            font-weight: bold;

            color: rgb(122, 121, 121);
        }
        

        .personal-info {
           display: flex;
           justify-content: space-between;
           width: 550px;
           margin-top: 10px;

           h2 {
               margin-top: 10px;
           }
        }

        .address {
            margin-top: 20px;

            h2 {
                margin-top: 10px;
            }
        }

        .payment {
            margin-top: 20px;

            i {
                position: absolute;
                transform: 
                    translateY(-12px)
                    translateX(20px)
                    rotate(30deg);
                font-size: 75px;
                color: $secondary-color;

            }

            .card {
                display: flex;
                flex-direction: column;
                width: 400px;
                height: 250px;
                background: $primary-color;
                border-radius: 16px;
                margin-top: 10px;
                color: white;
                padding: 20px;
                font-family: 'Inconsolata', monospace;

                &--one {
                    display: flex;
                    justify-content: flex-end;

                    h1 {
                        font-size: 30px;
                        font-style: italic;
                        align-self: flex-end;
                    }
                }

                &--two {
                    display: flex;
                    justify-content: center;

                    p {
                        font-size: 35px;
                        margin-top: 40px;
                        margin-right: 10px;
                    }
                }

                &--three {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;

                    .expiration {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        margin-left: 150px;

                        h3 {
                            font-size: 12px;
                            font-style: normal;
                        }
                    }

                    p {
                        font-size: 20px;
                        margin-left: 6px;
                    }
                }

                &--four {
                    display: flex;
                    margin-left: 38px;
                    font-size: 28px;
                    margin-top: 15px;
                }
            }

            .add-card {
                h3 {
                    margin-top: 15px;
                    font-style: normal;
                    font-size: 15px;
                }
            }
        }
    }
}
