.footer {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 85px;
    background: $primary-color;
    color: white;
    font-family: $primary-font;
    padding: 10px;
    
    h5 {
        margin-top: 10px;
    }
    
}

.container-contact {
    display: flex;
    justify-content: space-around;
    height: 85px;
    flex-direction: column;
    align-items: center;
   
}
.contact{
    margin-left: 130px;
    color: grey;
}

.about {
    margin-right: 130px;
    padding: 0;
    margin: 0;
    color: grey;
    
}

.footer-name {
    display: flex;
   


    i {
        font-size: 13px;
        margin-left: 5px;
        transform: rotate(35deg);
        color: $secondary-color;
        margin-top: 8px;
    }
}

.social-icons {

    .facebook {
        margin-left: 5px;
    }
}

.copyright {
    font-size: 10px;
}