.book {
    display: flex;
    background: $primary-color;
    height: 520px;
    // position: absolute;
    // top: 80px;
    // z-index: 7;
    // width: 100vw;
}

.logo {
    display: flex;
    width: 100px;


    .fa-paper-plane {
        font-size: 90px;
        color: $secondary-color;
        transform: 
        rotate(30deg)
        translateX(-35px)
        translateY(-15px); 
    }
}

.fields {
    display: flex;
    align-content: center;
    align-items: center;
    height: 125px;
    display: flex;
    margin-right: 125px;
    margin-left: 47px;
}

.destination {
    display: flex;
    align-items: center;

    &--box {

    input {
        background: none;
        border: none;
        width: 210px;
        height: 80px;
        outline: none;
        color: white;
        font-size: 60px;
        font-weight: 300;
        align-self: auto;
        text-align: center; 
    }
}

    ::-webkit-input-placeholder { 
        color: white;
        font-size: 60px;
        font-weight: 300;
        align-self: auto;
        text-align: center; 
      }

    input::-webkit-calendar-picker-indicator {
        display: none;
    }

    i {
        font-size: 40px;
        color: $secondary-color;
    }

    p {
        color: white;
        font-size: 15px;
        font-family: $primary-font;
    }

    &--box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.input-type-dropdown {
    display: flex;
    align-items: center;

    select {
    width: 160px;
    height: 70px;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    font-weight: 250;
    outline: none;
    }
}

// .datePicker {
//     width: 150px;
//     height: 60px;
//     background: $primary-color;
//     border: none;
//     color: white;

//     input {
//         color: white;
//     }
// }

input[type="date" i] {
    align-items: center;
    display: -webkit-inline-flex;
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: default;
    background: $primary-color;
    border: none;
    width: 195px;
    color: white;
    font-size: 25px;
    font-family: $primary-font;
    padding: 0px;
}

.calendar {
    margin-left: 35px;
    height: 30px;
    align-self: center;
}


.input-passenger-dropdown {
    display: flex;
    align-items: center;

    select {
    width: 195px;
    height: 70px;
    background: none;
    border: none;
    margin-left: 15px;
    color: white;
    font-size: 24px;
    font-weight: 250;
    outline: none;
    }
}

.search-button {
    margin-left: 30px;

    button {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        background: $secondary-color;
        color: white;

        i {
            font-size: 25px;
        }
    }
}


// #airports {
//     background-color: red;
//     display: inherit;
// }

