.book {
    // i {
    //     font-size: 90px;
    //     color: $secondary-color;
    //     transform: 
    //     rotate(29.9deg)
    //     translateX(-15px)
    //     translateY(-16.8px);
    // }

    i {
        font-size: 90px;
        color: $secondary-color;
        transform: 
        rotate(30deg)
        translateX(-15px)
        translateY(-19.5px); 
    }
}