.check-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    height: 120px;
    width: 100vw;
    background: $primary-color;
    color: white;
    z-index: 10;
    top: 70;
    font-family: $primary-font;
    color: white;

    h2 {
        font-size: 15px;
    }

    input {
        background: none;
        border: none;
        border-bottom: 1px solid gray;
        width: 160px;
        height: 40px;
        margin-right: 20px;
    }

    ::-webkit-input-placeholder { 
        color: rgb(139, 129, 129);
        font-size: 20px;
        font-weight: 300;
        align-self: auto;
        text-align: center; 
    }

    .checkin-confirmation {
        display: flex;
        align-items: center;

        h1 {
            font-size: 25px;
            margin-right: 20px;
            margin-left: 160px;
        }
    }

    button {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        background: $secondary-color;
        color: white;
        margin-left: 20px;

        i {
            font-size: 25px;
        }
    }

    .fa-paper-plane {
        position: absolute;
        font-size: 90px;
        color: $secondary-color;
        transform: 
        rotate(30deg)
        translateX(-35px)
        translateY(-30px); 
    }
}

